// loading
$loadingBg: #ff718c;
$loadingColor: #ffdbdb;

// 主要顏色
$mainColor: #97e1f1;
$mainTextLimited: #1f1f1f;
$mainTextTitle: #1f1f1f;

// main pd 8格商品底色
$mainPdBg1: #a0ddee;
$mainPdBg2: #ffb6b7;
$mainPdBg3: #ffdbdb;
$mainPdBg4: #cbd8f1;
$mainPdBg5: #cbd8f1;
$mainPdBg6: #ffdbdb;
$mainPdBg7: #baeade;
$mainPdBg8: #ffb6b7;
// main pd 商品
$mainPdText: #000;
$mainPdPrice: #1f1f1f;
$mainPdBg: #fff;

// 主題背景
$theme1Bg: #baeade;
$theme2Bg: #cbd7f1;
$theme3Bg: #ffdbdb;
$theme4Bg: #f1eea2;
$theme5Bg: #dcdfdf;
$theme6Bg: #a7e7e7;

// 左側選單
$leftNavBg: #ff718c;
$leftNavHover: #eee;
$leftNavFont: #fff;
$leftNavFontHover: #1f1f1f;
$arrowHover: #1f1f1f;

// 右側選單
$rightNavBg: #ff718c;
$rightNavFont: #fff;
$rightNavFontHover: #1f1f1f;

//手機選單
$iconColor: brightness(100);
