// loading
$loadingBg: #242529;
$loadingColor: #00ff00;

// 主要顏色
$mainColor: #00ff00;
$mainTextLimited: #00ff00;
$mainTextTitle: #fff;

// main pd 8格商品底色
$mainPdBg1: #94a694;
$mainPdBg2: #0c988f;
$mainPdBg3: #ed62bc;
$mainPdBg4: #fb7d09;
$mainPdBg5: #eab31b;
$mainPdBg6: #89aca8;
$mainPdBg7: #6e69ca;
$mainPdBg8: #bfbea5;
// main pd 商品
$mainPdText: #fff;
$mainPdPrice: #fff;
$mainPdBg: #242529;

// 主題背景
$theme1Bg: #94a694;
$theme2Bg: #8985d9;
$theme3Bg: #ed62bc;
$theme4Bg: #00a499;
$theme5Bg: #bfbea5;
$theme6Bg: #fb7e0a;

// 左側選單
$leftNavBg: #000;
$leftNavHover: #eee;
$leftNavFont: #fff;
$leftNavFontHover: #1f1f1f;
$arrowHover:#fff ;

// 右側選單
$rightTop:#DC1C5B;
$rightNavBg: #DC1C5B;
$rightNavFont: #fff;
$rightNavFontHover: #28F1DF;

//手機選單
$iconColor: brightness(0);
